@import url("./reset.css");
@import url("./header.css");
@import url("./slider.css");
@import url("./popular.css");
@import url("./grid.css");

body {
  background-color: #fff;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

h2 {
  font: 700 24px/33px var(--font-text);
  color: #000;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.container {
  max-width: 1060px;
  margin: 0 auto;
}

.button_orange button {
  font: 600 16px/22px var(--font-text);
  color: #fff;
  padding: 9px 20px;
  background-color: var(--main-color);
  border: 0;
  border-radius: 20px;
  cursor: pointer;
}

.button_gray button {
  font: 600 16px/22px var(--font-text);
  color: #D15700;
  padding: 9px 20px;
  background-color: #FFF0E6;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
}

/* fonts */
/* font-family: 'Nunito', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");

/* vars */
:root {
  --font-text: "Nunito", sans-serif;
  --main-color: #f96900;
}
