.new {
  padding: 70px 0;
}

.popular {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  gap: 20px;
}

.popular__item {
  width: 250px;
  height: 104px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.popular__item:hover {
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
}

.popular__item > img {
  float: left;
  margin: 14px 22px 14px 18px;
}

.popular__pizza {
  font: 400 14px/19px var(--font-text);
  color: #000;
  margin: 29px 0 4px;
}

.popular__price, .price {
  font: 600 16px/22px var(--font-text);
  color: #000;
}
